.list-products {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 0 auto;
}

.product {
    margin: 5px;
    border: 1px solid #dbdbdb;
}

.product:hover {
    box-shadow: 0 5px 15px #d1d1d1;
    cursor: pointer;
}

.product-image {
    margin: 0 auto;
    text-align: center;
}

.product-footer {
    margin: 5px;
    float: left;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.btn-primary {
    width: 100%;
}

.btn-comprar {
    margin-top: -35px;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000 !important;
    font-size: 2em;
}


/* .product-body:hover>.btn-comprar {} */