/* LISTA DE VENDEDORS */

#carouselExampleFade {
    border-bottom: 1px solid #c3c3c3;
    margin-top: 30px !important;
}

.list-vendors {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 95%;
}

.vendor {
    background: rgb(123, 123, 124);
    margin: 5px;
    width: 100px;
    padding: 0 10px;
    display: flex;
    width: 90%;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000 !important;
    width: 5%;
    font-size: 40px;
}


/* LISTA DE PRODUTOS */

.list-products {
    margin-top: 30px !important;
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
}

.product {
    margin: 5px;
    border: 1px solid #dbdbdb;
    display: flex;
}

.product img {
    width: 100%;
}

.product:hover {
    box-shadow: 0 5px 15px #d1d1d1;
    cursor: pointer;
}

.product-image {
    margin: 0 auto;
    text-align: center;
}

.product-footer {
    margin: 5px;
    float: left;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .product img {
        /* width: 0px; */
    }
    .list-products {
        grid-template-columns: repeat(3, 1fr);
    }
}