/* LISTA DE VENDEDORS */

#carouselExampleFade {
    border-bottom: 1px solid #c3c3c3;
    margin-top: 30px !important;
}

.list-vendors {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 95%;
}

.vendor {
    background: rgb(123, 123, 124);
    margin: 5px;
    width: 100px;
    padding: 0 10px;
    display: flex;
    width: 90%;
}

.vendor:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.2s;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000 !important;
    width: 5%;
    font-size: 40px;
}